/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* regole header */
#headercontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
}
#headercontainer li{
    list-style-type: none;
    display: inline;
    color: white;
    font-weight: bold;
    font-size: larger;
    padding: 0 5px;
}


#headercontainer img
{   
    width: 6%;
    height: 6%;
}
/* regole main */

main{
    margin-bottom: 30px;
    padding: 0 20px;
    margin-top: 180px;
    width: 100%;
}

.container{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
    
}
article{
    display: flex;
    gap: 20px;
    padding-bottom: 100px;
    
}
/* intestazione articoli */
article span{
    display: block;
}
.prodotto-brand{

}
.prodotto-nome{
    font-size: larger;
}
.prodotto-nome ,.prodotto-prezzo{
    font-weight: bold ;
}
.prodotto-prezzo{
    color: red;
    
}
.prodotto-prezzo ,.prodotto-prezzo-originale{
    display: inline-block;
}
.prodotto-prezzo-originale{
   text-decoration: line-through;
}

/* box interni immagini articoli  */

.div-box{
    position: relative;
    display: flex;
    justify-content: end;
}
.box-heart{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    text-align: center;
    font-size: 45px; /* ho settato il size in maniera che mi venga centrato dentro il box bianco */
    width: 50px;
    height: 50px;
}

.box-sale{
    position: absolute;
    left: 0;
    background-color: red;
    width: 70px;
    
}

.box-sustain{
    margin: 0 0;
    position: absolute;
    width: 140px;
    background-color: green;
    left: 0;
    margin-left: 100px; 
}

.box-sustain ,.box-sale{
    bottom: 60px;
    text-align: center;
    height: 25px;
    color: white;
    font-size: 21px;
    font-weight: bold;
}
/* debug */

header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255,105,0);
    /* height: 150px; */
}


footer{
    height: 200px;
    background-color: rgb(26,26,26);
}