/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* regole header */

header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255,105,0);
    box-shadow: 1px 3px 2px #888888;
}

header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
#headercontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
}
#headercontainer li{
    list-style-type: none;
    display: inline;
    color: white;
    font-weight: bold;
    font-size: larger;
    padding: 0 5px;
}


#headercontainer img
{   
    width: 6%;
    height: 6%;
}

/* regole main */

main{
    margin-bottom: 30px;
    padding: 0 20px;
    margin-top: 180px;
    width: 100%;
}


.container{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
    
}
article{
    display: flex;
    gap: 20px;
    padding-bottom: 100px;
    
}
/* intestazione articoli */
article span{
    display: block;
}
article img{
    max-width: 640px;
    max-height: 924px;
}
#img1{
    content: url("../img/1.webp");

}
#img1:hover{ 
    content: url("../img/1b.webp");
    cursor: pointer;
    
}
#img2{
    content: url("../img/2.webp");

}
#img2:hover{ 
    content: url("../img/2b.webp");
    cursor: pointer;  
}
#img3{
    content: url("../img/3.webp");

}
#img3:hover{ 
    content: url("../img/3b.webp");
    cursor: pointer;
    
}
#img4{
    content: url("../img/4.webp");

}
#img4:hover{ 
    content: url("../img/4b.webp");
    cursor: pointer;
    
}
#img5{
    content: url("../img/5.webp");

}
#img5:hover{ 
    content: url("../img/5b.webp");
    cursor: pointer;
    
}
#img6{
    content: url("../img/6.webp");

}
#img6:hover{ 
    content: url("../img/6b.webp");
    cursor: pointer;
    
}
.prodotto-brand{

}
.prodotto-nome{
    font-size: larger;
}
.prodotto-nome ,.prodotto-prezzo{
    font-weight: bold ;
}
.prodotto-prezzo{
    color: red;
    
}
.prodotto-prezzo ,.prodotto-prezzo-originale{
    display: inline-block;
}
.prodotto-prezzo-originale{
   text-decoration: line-through;
}

/* box interni immagini articoli  */

.div-box{
    position: relative;
    display: flex;
    justify-content: end;
}
.box-heart{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    text-align: center;
    font-size: 45px; /* ho settato il size in maniera che mi venga centrato dentro il box bianco */
    width: 50px;
    height: 50px;
}
.box-heart:hover{
    color: red;
}
.box-sale{
    
    background-color: red;
    width: 70px;
}

.box-sustain{
    left: 75px;
}
.box-sustain-overide ,.box-sustain{
    width: 140px;
    background-color: green;
}
.box-sustain-overide,.box-sale{
    left: 0;
}

.box-sustain ,.box-sale, .box-sustain-overide{
    position: absolute;
    bottom: 60px;
    text-align: center;
    height: 25px;
    color: white;
    font-size: 21px;
    font-weight: bold;
}

/* footer  */


footer{
    color: white;
    background-color: rgb(26,26,26);
    width: 100%;
    flex-wrap: nowrap;

}
footer a{
    text-decoration: none;
    color: white;
    padding-right: 10px;
   
}
footer a:hover{
    text-decoration: underline;
}
footer li {
    line-height: 50px;
}
footer div{
    display: flex;
    justify-content: space-around;
    align-self: center;
    
}
footer ul{
    list-style-type: none;
    font-size: 20px;
    padding:  40px 0 40px 0;
    align-self: center;

}

/* debug */

